div#menu li:hover{
	background:url(../images/main-menu-lava.jpg) no-repeat right -2px!important;
	background-image:url(../images/main-menu-lava.jpg);
}

    div#menu ul.menu {
        background: none !important;
    }
	

#footer 
{
	text-align: center;
	color: #0000FF;
    width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#footer-right
{
    width: 60%;
	margin-left: auto;
	margin-right: auto;
	
}
.logo{
        width:50%;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }